html {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: red;
  padding: 0;
}

.background {
  /* background-image: url("/assets/images/splashart/Fiddlesticks.png");

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0; */
}

.wrapper {
}

.profile {
}

.appointments {
}

.emblemRank {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.left {
  font-size: 20px;
  float: left;
}
.right {
  float: right;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
