@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html,
body {
  overflow-x: hidden;
}
#root {
  /* font-family: "Oswald", sans-serif !important; */
  width: 100vw;
}

.slick-prev:before,
.slick-next:before,
.slick-arrow {
  color: black !important;
}

/* .slick-slide.slick-active {
  width: 60px !important;
} */
/* .slick-slide {
  visibility: hidden;
} */
/* .slick-slide.slick-active {
  visibility: visible;
} */
.icon {
  position: absolute;
  left: 0;
  height: 28px;
  width: 28px;
}
.slick-initialized .slick-slide.slick-active {
  z-index: 1;
}

/* .slick-slide .slick-active .slick-center .slick-current {
  width: auto !important;
} */

.rc-time-picker-panel {
  z-index: 1301 !important;
  width: 170px;
  position: fixed !important;
  top: 0;
  box-sizing: border-box;
}
